body {
padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  height: 667px;
  width: 375px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.display {
  display: flex;
  flex-direction: row;
  background-color: #3f3e3e;
  flex: 29;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 18px;
}

.result {
  display: flex;
  color: white;
  font-size: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 71;
  margin-left: 1px;
  margin-right: 1px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  outline: 1px solid #50434D;
  background-color: #f2eded;
  font-size: 35px;
  transition: background-color 0.4s;
}

.button:active {
  background-color: #A3A1A1;
}

.button.top {
  background-color: #dbd9d9;
}

.button.top:active {
  background-color: #A3A1A1;
}

.last {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.zero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 35px;
  flex: 1.63;
  background-color: #f2eded;
  font-size: 35px;
}

.button.operator {
  background-color:#ff7a1c;
  color: white;"
}

.button.operator:active {
  background-color: #DC6A19;
}

.last-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #f2eded;
  font-size: 35px;
}
